@using GurmeDefteriWebUI.Data
@using GurmeDefteriWebUI.Models.Dto
@model User

@Html.Partial("PopupPartial")




<head>

</head>
<body>
    <div class="container py-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h2 class="fw-bold mb-4 text-center">Kullancı Ekle</h2>

                        <form asp-action="AddUser" asp-controller="User" method="post" enctype="multipart/form-data">


                            <input asp-for="Id" type="hidden" value='1' />



                            <div class="mb-3 ">
                                <label for="userName" class="form-label">Kullanıcı Ad:</label>
                                <input asp-for="Name" type="text" class="form-control" id="userName" placeholder="Kullanıcı adını giriniz">
                            </div>
                            <div class="mb-3 ">
                                <label for="userMail" class="form-label">Kullanıcı Email:</label>
                                <input asp-for="Email" type="text" class="form-control" id="userMail" placeholder="Kullanıcı mail'ini giriniz">
                            </div>
                            <div class="mb-3 ">
                                <label for="userAge" class="form-label">Kullanıcı Yaşı:</label>
                                <input asp-for="Age" type="text" class="form-control" id="userAge" placeholder="Kullanıcı yaşını giriniz">
                            </div>
                            <div class="mb-3 ">
                                <label for="userPassword" class="form-label">Kullanıcı Şifre:</label>
                                <input asp-for="Password" type="text" class="form-control" id="userPassword" placeholder="Kullanıcı şifresini giriniz">
                            </div>

                            <div class="mb-3 ">
                                <label for="userRole" class="form-label">Kullanıcı Rol:</label>
                                <select asp-for="Role" class="form-select" id="userRole">
                                        <option value="User">Kullanıcı</option>
                                        <option value="Admin">Yönetici</option>
                                </select>
                            </div>
                          
                            <button type="submit" class="btn btn-primary btn-lg w-100" style="background-color: #6a11cb; font-family: Arial, sans-serif; color: white; font-weight: bold; border: 2px solid black;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <span>@error.ErrorMessage</span>
            }
        </div>
    }
    else if (TempData["isPopupVisible"] != null && (bool)TempData["isPopupVisible"] == true)
    {
        <script>
            window.onload = function () {
                resetFields();
                showSuccessPopup();
            };


        </script>
        { ViewData["isPopupVisible"] = false; }
    }




    <script>     
        function resetFields() {
            document.getElementById('userName').value = '';
            document.getElementById('userMail').value = '';
            document.getElementById('userAge').value = '';
            document.getElementById('userPassword').value = '';
            document.getElementById('userRole').value = '';
        }

    </script>
</body>
</html>