<html>
    <head>
        <style>
            body {
    font-family: Arial, sans-serif;
}


        </style>
    </head>

    <body>
    <div class="text-center text-white ">
        <h1 style="margin-bottom:2%">Gurme Defteri Admin Paneli</h1>
        <img src="~/Resources/img/adminPP.jpg" height="25%" alt="Gurme Defteri Logo" loading="lazy" style="border-radius: 50%;" />
        <h3 style="margin-top:3%">
            Uygulamımızın Admin Paneline hoş geldiniz buradan kullanıcılar ve yemekler için ekle, sil ve güncelle işlemlerini gerçekleştirebilirsiniz. Keyifli dakikalar dileriz.
        </h3>
    </div>

    </body>



</html>

